<header id="header">
  <h1 id="logo"><a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/logo_white.png" onmouseover="hover(this);" onmouseout="unhover(this)" alt="" /></a></h1>
  <nav id="nav">
    <ul>
      <li>
        <a id="our-work-link" href="#">Our Work</a>
        <ul>
          <li><a href="{{site.baseurl}}/lookagaindoc.html">Look Again Doc</a></li>
          <li><a href="{{site.baseurl}}/farmers-market.html">Farmers Market</a></li>
          <li><a href="{{site.baseurl}}/fruits-for-humanity.html">Fruits For Humanity</a></li>
          <li><a href="{{site.baseurl}}/surf-engine.html">Surf Engine</a></li>
          <li><a href="{{site.baseurl}}/snake.html">Snake</a></li>
        </ul>
      </li>
      <li><a href="contact-us.html">Contact Us</a></li>
      <li><a class="page-link" href="{{site.baseurl}}/blog.html">BLOG</a></li>
      <li><a href="javascript:;" onclick="monolog.show();">Contact Us</a></li>
    </ul>
  </nav>
</header>
