<header id="header">
  <h1 id="logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo_white.png" onmouseover="hover(this);" onmouseout="unhover(this)" alt="" /></a></h1>
  <nav id="nav">
    <ul>
      <li>
        <a id="our-work-link" href="#">Our Work</a>
        <ul>
          <li><a href="{{site.baseurl}}/lookagaindoc/">Look Again Doc</a></li>
          <li><a href="{{site.baseurl}}/farmers-market/">Farmers Market</a></li>
          <li><a href="{{site.baseurl}}/fruits-for-humanity/">Fruits For Humanity</a></li>
          <li><a href="{{site.baseurl}}/surf-engine/">Surf Engine</a></li>
          <li><a href="{{site.baseurl}}/snake/">Snake</a></li>
        </ul>
      </li>
      <li><a href="contact-us/">Contact Us</a></li>
      <li><a class="page-link" href="{{site.baseurl}}/blog/">BLOG</a></li>
      <li><a href="javascript:;" onclick="monolog.show();">Contact Us</a></li>
    </ul>
  </nav>
</header>
